# Byte-compiled files
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/

# Virtual environments
venv/
ENV/
env/

# IDE and editor files
.idea/        # JetBrains IDEs (like PyCharm)
.vscode/      # Visual Studio Code
*.swp         # Swap files for vim

# Python-specific files
*.log         # Log files
*.sqlite3     # SQLite database files

# Operating system files
.DS_Store      # macOS Finder file
Thumbs.db      # Windows thumbnail cache

